*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(148, 38%, 91%);
}

body {
    padding: 0;
    margin: 0;
    font-weight: 400, 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding: 1.5rem .7rem;
}

form {
    background-color: white;
    border-radius: 1rem;
    padding: 1.2rem;
}

h1 {
    margin-top: 0;
    color: hsl(187, 24%, 22%);
}

label,
legend {
    color: hsl(187, 24%, 22%);
}

.required {
    color: hsl(169, 82%, 27%);
}

input {
    padding: 1rem;
    margin: .5rem 0;
    width: 100%;
    height: 2.5rem;
    border-radius: .5rem;
    border: 1px solid hsl(186, 15%, 59%);
}

input:hover,
input:focus {
    border-color: hsl(169, 82%, 27%);
    outline: hsl(169, 82%, 27%);
}

input:hover,
.query-input:hover,
button:hover,
legend {
    cursor: pointer;
}

input[type="text"] {
    margin-bottom: 1.5rem;
}

input[type="radio"] {
    display: none;
}

.custom-radio {
    display: none;
    width: 18px;
    height: 18px;
    border: 2px solid hsl(186, 15%, 59%);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    margin: 0 1rem;
}

.custom-radio img {
    display: none;
    width: 19px;
    height: 19px;
}

input[type="radio"]:checked + .custom-radio img {
    display: block;

}

input[type="radio"]:checked + .custom-radio {
    border-color: hsl(169, 82%, 27%);
}

.query-input {
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: .5rem;
    padding: 1rem .5rem;
    display: flex;
    align-items: center;
    
}

.query-input:has(input:checked) {
    border-color: hsl(169, 82%, 27%);
    background-color: hsl(148, 38%, 91%);
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

fieldset legend {
    margin-bottom: 1rem;
}

textarea {
    padding: 1rem;
    border-radius: .8rem;
    height: 15.625rem;
    width: 100%;
    resize: none;
    margin: 1rem 0 1.5rem 0;
    border: 1px solid hsl(186, 15%, 59%);
}

textarea:focus {
    border-color: hsl(169, 82%, 27%) ;
    outline: none;
}

.consent-box {
    display: flex;
    flex-direction: column;
}

.consent {
    display: flex;
    gap: 1rem;
    line-height: 1.2;
}

input[name = "consent"] {
    height: 20px;
    width: 20px;
    margin: 0;
}

input[type="checkbox"] {
    display: none;
}

.custom-check {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid hsl(169, 82%, 27%);
    border-radius: 0.2rem;
}

.custom-check img {
    display: none;
}



input[type="checkbox"]:checked + .custom-check img {
    display: block;
}

#consentLabel {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

#consentLabel:hover {
    cursor: pointer;
}

button {
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(169, 82%, 27%);
    margin-top: 1rem;
}

button:hover {
    background-color: hsl(169, 81%, 19%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

/* error state */
#fErrorMsg,
#lErrorMsg,
#eErrorMsg,
#qErrorMsg,
#msgErrorMsg,
#cErrorMsg {
    display:none;
}

.requiredText {
    margin: 0;
    color: hsl(0, 66%, 54%);
    font-size: .8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* success state */

#successMsg {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#successBox {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: hsl(187, 24%, 22%);
    padding: 1.5rem;
    margin: 1rem 1rem 0;
    border-radius: 1rem;
    height: 127px;
}

#successBox p {
    font-size: 1rem;
    margin-bottom: 0;
}

.success-text {
    display: flex;
    flex-direction: row;
    justify-items: center;
    font-weight: 700;
}

.img {
    margin-right: .5rem;
}

.success-text p {
    margin: 0;
}

/* breakpoints */

@media (min-width: 1440px) {
    main {
        min-width: 50%;
        margin: 0;
    }

    .names,
    .query-container {
        display: flex;
        gap: .5rem;
        /* border: 1px solid; */
    }

    .names div {
        width: 100%;
    }

    input[type="text"] {
        margin-bottom: 1rem;
        height: 3rem;
    }

    .query-input {
        width: 100%;
    }

    textarea {
        height: 10rem;
    }

    #successMsg {
        justify-content: center;
        align-items: center;

    }
}